body {
    padding: 0;
    margin: 0;
}


.foto1 {
    width: 100px;
    height: 100px;
}

.carousel-inner {
    padding-top: 50px;
    margin-top: 50px;
}


.sobre-a-empresa h1 {
    margin-top: 20px;
    text-align: center;
}


.card-1 {
   border:none;
    width: 500px;
    padding: 20px;
    margin: 50px;
}
.borderless-card .card {
    border: none;
}


.footer{
    background-color: black;
   max-width: auto;

}


.direitos{
    color: white;
    margin-top: 10px;
    padding: 10px;
    align-items: center;
}

@media (min-width: 768px) {
    .card-1 {
        width: 100%; 
        margin: 20px; 
    }
}


@media only screen and (max-width: 767px) {
    .card-1 {
        width: calc(100% - 40px);
        margin: 20px auto; 
        padding: 10px; 
    }
    .img-fluid {
        width: 100%; 
        height: auto; 
    }
}